/* Global styles */

html {
    background-color:black;
    color: white;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: max-content; 
    margin: 2rem auto;
    padding: 0 5vw;
    max-width: 1200px;
}

.btn {
    text-align: center;
    font-weight: 500;
    background-color: red;
    padding: 1rem;
    border-radius: 3.125rem;
}

.hyperlink-anchor {
   position: relative;
    display: block;
    top: -4rem;
    visibility: hidden;
}

/* Fonts */

h1, h2, h3, h4, h5, h6, span, a, btn {
    font-family: 'Ubuntu', sans-serif;
}

p, figcaption {
    font-family: 'Oxygen', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

span {
    color: red;
}

.h2-heading {
    text-align: center;
    width: 100%;
    margin: 2rem 0;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 1rem;
}

/* Nav styling */

nav {
    display:block;
    position: fixed;
    top:0;
    height: 4rem;
    width: 100%;
    background-color: black;
    z-index: 3;
}

nav ul {
    float: right;
    margin: 1rem 2rem;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.25rem;
}

nav ul li:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 0.5rem;
}

.hamburger, .mobile-menu {
    display: none;
}

/* body offset for fixed navbar */

main {
    position: relative;
    top: 4.5rem;
    overflow: hidden;
}

/* Home content styling */

.home {
    display: flex;
    justify-content: space-evenly;
    
}

.home-container {
    width: 45%;
    height: 25rem;
}

.content { 
    display: inline grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
                        'title-row-1 title-row-1 . .'
                        '. title-row-2 title-row-2 title-row-2'
                        'text-row-3 text-row-3 text-row-3 text-row-3'
                        '. btn btn .';
    justify-items: center;
    align-items: center;
}

.title-row-1 {
    grid-area: title-row-1;
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 500;
}

.title-row-2 {
    grid-area: title-row-2;
    margin: 0.625rem 1.25rem;
    text-transform: capitalize;
    position: relative;
    padding: 1rem 1.5rem;
    color: black;
    z-index: 2;
}

.title-row-2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:white;
    z-index: -1;
    transform: skewX(10deg);
}

.title-row-2::after {
    content: '';
    position: absolute;
    top: 0;
    left: -6.25rem;
    width: 6.25rem;
    height: 0.125rem;
    background: white;
}

.text-row-3 {
    grid-area: text-row-3;
    line-height: 2rem;
}

.btn-contact {
    grid-area: btn;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.img-container img {
    height: 20rem;
    width: 20rem;
    border-radius: 50% 20% / 10% 40%;
}

/* Data Center content styling */

.datacenter {
    background-image: url('Static/Images/data\ center\ sticky.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 30rem;
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.datacenter h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    max-width: 1180px;
    background-color: hsla(0, 0%, 0%, 0.6);
}

.datacenter h3 {
    position: relative;
    top: 10rem;
    background-color: black;
    padding: 0.5rem;

}

/* About Section styling */

.about-flexbox {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap-reverse;
}

.about figure img {
    height: 15.625rem;
    width: 16.625rem;
    border-radius:  0.625rem; 
}

.about figure figcaption {
    font-size: 0.75rem;
}

.about p {
    width: 45%;
    max-width: 37.5rem;
    margin-right: 2rem;  
}

/* Technologies styling */

.technologies {
    margin: 1rem auto;
    padding: 0 5vw;
    max-width: 1200px;
}

.tech-grid {
    margin: 0 5vw;
    display: grid;
    grid-gap: 1.25rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
                        'html CSS Javascript Python'
                        'Pandas Pandas Flask Flask'
                        'Jira Confluence Grafana git'
                        'AWS AWS OnApp OnApp'
                        'CentOS Ubuntu show-logo .';
    justify-items: stretch;
    align-items: center;
    perspective: 600px;
}

.tech {
    height: 9.375rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 0.625rem;
    cursor: pointer;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-face h3 {
    line-height: 9.375rem;
    font-size: 1.5rem;
}

.card-face {
    height:100%;
    width:100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-face--back {
    transform: rotateX(180deg);

}

.card-face--back img {
    height: 100%;
    width: 100%;
    border: solid 1px white;
    border-radius: 0.625rem;
    background-color: white;
}

.tech.is-flipped {
    transform: rotateX(180deg);
}

.html-card {
    grid-area: html;
}

.html-card:hover {
    background-color: #f06529;
}

.CSS-card {
    grid-area: CSS;
}

.CSS-card:hover {
    background-color: #3c99dc;
}

.Javascript-card {
    grid-area: Javascript;
} 

.Javascript-card:hover {
    background-color: #f0db4f;
}

.Python-card {
    grid-area: Python;
}

.Python-card:hover {
    background-color: #ffd43b;
}

.pandas-card {
    grid-area: Pandas;
}

.pandas-card:hover {
    background-color: #150458;
}

.Flask-card {
    grid-area: Flask;
}

.Flask-card:hover {
    background-color: white;
    color: black;
}

.Jira-card {
    grid-area: Jira;
}

.Jira-card:hover {
    background-color: #0052CC;
}

.Confluence-card {
    grid-area: Confluence;
}

.Confluence-card:hover {
    background-color: #0052CC;
}

.Grafana-card {
    grid-area: Grafana;
}

.Grafana-card:hover{
    background-color: #fba35a;
}

.git-card {
    grid-area: git;
}

.git-card:hover{
    background-color: #f1502f;
}

.AWS-card {
    grid-area: AWS;
}

.AWS-card:hover {
    background-color: #F90;
}

.OnApp-card {
    grid-area: OnApp;
}

.OnApp-card:hover {
    background-color: #0b1e48;
}

.CentOS-card {
    grid-area: CentOS;
}

.CentOS-card:hover {
    background-color: #9CCD2A;
}

.Ubuntu-card {
    grid-area: Ubuntu;
}

.Ubuntu-card:hover {
    background-color: #dd4814;
}

/* Reset cards styling */

.show-logo {
    grid-area: show-logo;
}

#showCards {
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.625rem;
}

/* Project section styling */

.portfolio {
    height: auto;
    display: block;
    margin-top: 4rem;
}

.filter-container {
    display:block;
    text-align: center;
    margin: 4rem 0;
}

.filter {
    margin: 0 1rem;
    cursor: pointer;
}

.filter:hover {
    color: black;
    background-color: white;
}

.active {
    color:black;
    background-color: white;
}

.projects {
    width: 100%;
    max-width: 1200px;
    height:max-content; 
    margin: 1rem auto;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.project-card {
    height: 21.875rem;
    max-width: 23rem;
    margin: 2rem;
    text-align: center;
    border-radius: 1.875rem;
    background: linear-gradient(to bottom right, #66ff33 0%, #3366ff 100%);
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 2;
}

.project-card h3 {
    margin-top:0.5rem;
    font-size: 1.5rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.project-card p {
    margin: 0.5rem 1rem;
}

.project-card a {
    margin: 1rem 0.5rem;
}

.project-logo {
    height: 9.375rem;
    width: 9.375rem;
    margin: 1.5rem 0;
    border-radius: 1.875rem;
}

/* contact section stying */

.contact {
    height: 12.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}


.logo {
    height: 3.75rem;
    width: 3.75rem;
    padding: 2rem;
}

/* media query tablets */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* global styles */

    html {
        font-size: 14px;
    }

    .content {
        min-width: 388px;
        row-gap: 0.5rem;
        grid-template-areas: 
                        'title-row-1 title-row-1 title-row-1 .'
                        '. title-row-2 title-row-2 title-row-2'
                        'text-row-3 text-row-3 text-row-3 text-row-3'
                        '. btn btn .';
    }

    /* tech grid styles */

    .card-face h3 {
        font-size: 1.3rem;
    }

    /* project styles */

    .project-card {
        max-width: 200px;
        min-width: 176px;
        max-height: 250px;
    }
    .project-card h3 {
        font-size: 1.25rem;
    }

    .project-card p, .project-card a {
        font-size: 0.9rem;
    }

    .project-logo {
        height: 7rem;
        width: 7rem;
        margin: 1rem 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

    /* global styles */

    html {
        font-size: 12px;
    }

    .h2-heading {
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-underline-offset: 0.5rem;
    }

    .container {
        padding: 0 0;
    }

    main {
        top:3rem;
    }

    /* home styles */

    .content {
        row-gap: 0.25rem;
        grid-template-areas: 
                        'title-row-1 title-row-1 title-row-1 .'
                        '. . title-row-2 title-row-2'
                        'text-row-3 text-row-3 text-row-3 text-row-3'
                        '. btn btn .';
    }

    .title-row-1 {
        font-size: 3rem;
    }

    .img-container {
        height: 16rem;
        width: 16rem;
        align-self: center;
    }

    .img-container img {
        height: 16rem;
        width: 16rem;
    }

    /* datacenter styles */

    .datacenter h2 {
        font-size: 1.75rem;
        font-weight: 550;
        margin: 0 0.5rem;
    }

    .datacenter h3 {
        top: 8rem;
    }

    /* about styles */

    .about figure img {
        height: 16rem;
        width: 12rem;
    }

    /* tech grid styles */

    .technologies {
        padding: 0 2vw;
    }

    .tech {
        height: 6.5rem;
    }
    .card-face h3 {
        font-size: 1.25rem;
        line-height: 6.5rem;
    }

    /* project styles */

    .projects {
        margin: 0;
    }

    .filter-container {
        margin: 2.5rem 0;
    }

    .project-card {
        max-width: 200px;
        min-width: 176px;
        max-height: 225px;

    }
    .project-card h3 {
        font-size: 1.25rem;
    }

    .project-card p, .project-card a {
        font-size: 0.9rem;
    }

    .project-logo {
        height: 6rem;
        width: 6rem;
        margin: 1rem 0;
    }

    .logo {
        height: 40px;
        width: 40px;
        padding: 15px;
    }
}

@media screen and (max-width: 480px) { 

    /* global styles */

    html {
        font-size: 12px;
    }

    .h2-heading {
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-underline-offset: 0.5rem;
    }

    .container {
        padding: 0 0;
    }

    /* nav styles */

    nav ul {
        display: none;
    }

    .hamburger {
        display: inline;
        float: right;
        margin: 1rem 2rem;
        cursor: pointer;
    }

    .mobile-menu {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 4;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 1s;
    }

    .mobile-links {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 1.875rem;
    }

    .mobile-menu li a {
        padding: 0.5rem;
        font-size: 2.5rem;
        color: white;
        display: block;
        transition: 0.3s;
    }
    .mobile-menu li a:hover, .mobile-menu li a:focus {
        color: #818181;
    }
    
    .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 4rem;
    }

    /* home styles */

    .home-container {
        min-width: 169px;
    }

    .content {
        row-gap: 0.25rem;
        grid-template-areas: 
                        'title-row-1 title-row-1 title-row-1 title-row-1'
                        '. . title-row-2 title-row-2'
                        'text-row-3 text-row-3 text-row-3 text-row-3'
                        '. btn btn .';
        
    }

    .title-row-1 {
        font-size: 2.5rem;
    }

    .text-row-3 {
        grid-area: text-row-3;
        line-height: 1.5rem;
    }

    .img-container img {
        height: 12rem;
        width: 12rem;
        align-self: center
    }

    .img-container img {
        height: 12rem;
        width: 12rem;
    }

     /* datacenter styles */

     .datacenter h2 {
        font-size: 1.5rem;
        font-weight: 550;
        margin: 0 0.5rem;
    }

    .datacenter h3 {
        top: 6rem;
    }

    /*about styling */

    .about {
        margin-bottom: 4rem;
    }

    .about h2 {
        margin-bottom: 1rem;
    }

     .about-flexbox {
         height: max-content;
     }

     .about-flexbox p {
         margin: 1rem 0 2rem 0;
         text-align: center;
         width: 80%;
     }

     /* tech grid styles */

    .tech-grid {
        min-width: 320px;
        margin: auto;
    }
    .tech {
        height: 6.5rem;
        min-width: 68px;
    }

    .card-face h3 {
        font-size: 1rem;
        line-height: 6.5rem;
    }

      /* project styles */

    .filter-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

      .projects {
        margin: 0;
    }

    .filter-container {
        margin: 1rem 0;
    }

    .project-card {
        margin: 1rem;
        max-width: 200px;
        min-width: 160px;
        max-height: 225px;

    }
    .project-card h3 {
        font-size: 1.25rem;
    }

    .project-card p, .project-card a {
        font-size: 0.9rem;
    }

    .project-logo {
        height: 6rem;
        width: 6rem;
        margin: 1rem 0;
    }

    .logo {
        height: 35px;
        width: 35px;
        padding: 10px;
    }
}