/* Global styles */

html {
    background-color:black;
    color: white;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Fonts */

h1, h2, h3, h4, h5, h6, span{
    font-family: 'Ubuntu', sans-serif;
}

p, a {
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: white;
}

span {
    color: red;
}

/* Nav styling */

nav {
    display:block;
    position: fixed;
    height: 4.5rem;
    width: 100%;
    background-color: black;
    z-index: 2;
    border: solid 1px red;

}

nav ul {
    float: right;
    margin: 1.5rem 2rem;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.25rem;
}

nav ul li:hover {
    border-bottom: 1px solid red;
}

.hamburger {
    display: none;
}

/* body offset for fixed navbar */

main {
    border: solid 1px red;
    overflow: scroll;
    position: relative;
    top: 4.5rem;
}

/* Home content styling */

.home {
    width: 100%;
    height:25rem; 
    margin: 1rem 0;
    border-bottom: 1px solid red;
}

.home-content {
    width: 50%;
    height: 25rem;
    display: inline-grid;
    margin: 0 1rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
                        'title-row-1 title-row-1 . .'
                        '. title-row-2 title-row-2 title-row-2'
                        'text-row-3 text-row-3 text-row-3 text-row-3'
                        ' . btn btn .';
    justify-items: center;
    align-items: center;
                      
}

.title-row-1 {
    grid-area: title-row-1;
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 500;
}

.title-row-2 {
    grid-area: title-row-2;
    margin: 0.625rem 1.25rem;
    text-transform: capitalize;
    position: relative;
    padding: 1rem 1.5rem;
    color: black;
    z-index: 2;
}

.title-row-2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:white;
    z-index: -1;
    transform: skewX(10deg);
}

.title-row-2::after {
    content: '';
    position: absolute;
    top: 0;
    left: -6.25rem;
    width: 6.25rem;
    height: 0.125rem;
    background: white;
}

.text-row-3 {
    grid-area: text-row-3;
    line-height: 2rem;
}

.btn-contact {
    grid-area: btn;
    font-weight: 500;
    background-color: red;
    padding: 1rem;
    border-radius: 3.125rem;
}

.img-container {
    
}

.img-container img {
}